.login-container{
  background: white;
  width: 40rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center;
  border-radius: 10px;
}


.user-name-label{
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.user-name-input{
  font-size: 20px;
  border-radius: 10px;
  color: rgb(244, 244, 244);
  margin: 10px;
  border: none;

}

.user-password-label{
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.login-container h1 {
  color: black;
}

.user-password-input{
  font-size: 20px;
  border-radius: 10px;
  color: rgb(74, 69, 69);
  margin: 10px;
  border: none;
  color: rgb(244, 244, 244);
}

.login-button{
  height: 50px;
  width: 400px;
  color: rgb(74, 69, 69);
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(0, 174, 255);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.login-button:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.register-link{
  font-size: 20px;
  font-weight: bold;
}
