.all-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(145, 138, 138, 0.8); /* Adding some transparency to the overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.all-modal-container {
  background: black; /* Changed to white for better readability */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-height: 80vh; /* Added max-height to control modal size */
  overflow: auto;
  text-align: left;
}

.all-modal-content {
  margin: 0;
  padding: 10px 0;
  padding-bottom: 0;
  color: black;
  margin-top: 20px;
  background-color: #545454;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.modal-container:hover {
  cursor: default;
}

.modal-content:hover {
  cursor: default;
}

.user-content {
  font-weight: lighter;
  padding: 10px 20px;
  border-bottom: solid 3px rgb(17, 0, 205);
  margin-bottom: 0;
}

.modal-content :last-child {
  margin-bottom: 0;
}

.user-question, .user-answer {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.user-question div {
  padding: 0px;
}



