.update-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(145, 138, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.update-modal-container form {
  cursor: default;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.update-modal-container {
  cursor: default;
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
  grid-template-areas: 
  "a b"
  "c d";
}

.update-modal-content input {
  cursor: default;
  margin: 0;
  padding: 10px 0;
  color: black;
}

.update-modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 174, 255);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.update-modal-content button:hover {
  background-color: #0056b3;
}

.update-modal-content div {
  margin-bottom: 15px;
}

.update-modal-content {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #bbbbbb;
}

.update-modal-content textarea, .update-modal-content [type="text"], select {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #ffffff;
  resize: vertical;
}

.update-modal-content textarea:focus, .update-modal-content input[type="text"]:focus, select:focus {
  outline: none;
  border-color: #555;
}

.update-modal-content [type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.update-modal-content [type="submit"]:hover {
  background-color: #3700b3;
}
